<%= form_for @kitten do |f| %>
<ul>
  <% @kitten.errors.full_messages.each do |msg| %>
    <li>REEERR! <%= msg %></li>
  <% end %>
</ul>


<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :age %>
<%= f.text_field :age %>

<%= f.label :cuteness %>
<%= f.text_field :cuteness %>

<%= f.label :softness %>
<%= f.text_field :softness %>

<%= f.submit "Create" %> 

<% end %>